<?xml version="1.0" ?>
<robot name="sensor_suites" xmlns:xacro="http://ros.org/wiki/xacro">
  <!--
    @file   camera.urdf
    @brief  Test file for the camera object.

    @author brice.c.aa

    @note Units: dimensions are in "m", mass is in "kg".
  -->

  <!-- ******************** ROBOT CONSTANTS ******************** -->
  <!-- Dimensions: Camera -->
  <xacro:property name="camera_length" value="0.060"/>
  <xacro:property name="camera_width" value="0.052"/>
  <xacro:property name="camera_height" value="0.039"/>

  <!-- [NOTE] x-axis points forward, y-axis points to left, z-axis points upwards. -->

  <!-- Kinematics: Intertial properties -->
  <xacro:macro name="box_inertia" params="m w h d">
    <inertial>
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (h*h + d*d)}" ixy="0" ixz="0" iyy="${(m/12) * (w*w + d*d)}" iyz="0" izz="${(m/12) * (w*w + h*h)}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="cylinder_inertia" params="m r h">
    <inertial>
      <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (3*r*r + h*h)}" ixy = "0" ixz = "0" iyy="${(m/12) * (3*r*r + h*h)}" iyz = "0" izz="${(m/2) * (r*r)}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="sphere_inertia" params="m r">
    <inertial>
      <mass value="${m}"/>
      <inertia ixx="${(2/5) * m * (r*r)}" ixy="0" ixz="0" iyy="${(2/5) * m * (r*r)}" iyz="0" izz="${(2/5) * m * (r*r)}"/>
    </inertial>
  </xacro:macro>

  <!-- ******************** CAMERA FOOTPRINT ******************** -->
  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="camera_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- ******************** CAMERA ******************** -->
  <link name="camera_frame">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${camera_length} ${camera_width} ${camera_height}"/>
      </geometry>
      <material name="Red">
        <color rgba="${255/255} ${0/255} ${0/255} 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="${camera_length} ${camera_width} ${camera_height}"/>
      </geometry>
    </collision>

    <xacro:box_inertia m="0.066" w="${camera_width}" d="${camera_length}" h="${camera_height}"/>
  </link>

  <gazebo reference="camera_frame">
    <material>Gazebo/Red</material>
  </gazebo>

</robot>
