<?xml version="1.0"?>
<!--***************************************************************************
/// @file   display_arm.urdf.xacro
/// @brief  LIBRA-I arm model constructor.
///
/// @author brice.c.aa
****************************************************************************-->

<robot name="LIBRA-I_Arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Includes -->
    <xacro:include filename="$(find libra)/models/common/common.urdf.xacro"/>
    <xacro:include filename="$(find libra)/models/assemblies/arm.urdf.xacro"/>

    <!-- Model Construction -->
    <link name="base_link"/>
    <xacro:spawn_arm parent="base_link"/>

</robot>
