<?xml version="1.0"?>
<!--***************************************************************************
/// @file   display_manip.urdf.xacro
/// @brief  LIBRA-I manipulator model constructor.
///
/// @author brice.c.aa
****************************************************************************-->

<robot name="LIBRA-I_Manip" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find libra)/models/assemblies/manip.urdf.xacro"/>
    <link name="base_link"/>
    <xacro:spawn_manip parent="base_link"/>

</robot>
